<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="runPcServer" class="com.nesc.NettyServer.RunPcServer">
       <property name="threadName" value="PC-Thread"/>
       <property name="listenPort" value="8081"/>
   </bean>

   <bean id="runDeviceServer" class="com.nesc.NettyServer.RunDeviceServer">
       <property name="protocol" value="UDP"/>
       <property name="listenPort" value="5001"/>
       <property name="threadName" value="Device-Thread"/>
   </bean>
   
   <!--  
   <bean id="dataProcessor" class="com.nesc.NettyServer.DataProcessor">
   		<constructor-arg ref="DataProcessor"/>
   </bean>>-->
</beans>